# Capstone Project: Notebook 1

In [1]:
import pandas as pd
import numpy as np

##### I copied the Wikipedia datas into an Exel page. Then I saved that file in .cvs format as "Toronto.csv"

In [2]:
df = pd.read_csv('Toronto.csv')

#### I replaced all the "Not assigned" values with the NaN and then I dropped all the Borough's NaN rows. Finally I reset the indices

In [3]:
df.replace('Not assigned', np.nan, inplace = True)
df.dropna(subset=["Borough"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

#### If a cell has a Borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So:

In [4]:
df['Neighbourhood'].replace(np.nan, df['Borough'], inplace = True)

#### Now, more than one neighborhood can exist in one postal code area:

In [5]:
df['Postcode'].value_counts()

M8Y    8
M9V    8
M5V    7
M9B    5
M8Z    5
      ..
M1X    1
M5E    1
M4M    1
M4P    1
M9A    1
Name: Postcode, Length: 103, dtype: int64

#### We need to cluster in a single row all the Neighbourhoods with the same Postcode:

In [6]:
#The idea is the following: for each row "i" we search the "j > i" row with the same postcode.
#Then we replace the Neighbourhood "i" value with the "i ,j" Neighbourhood value.
#After we assign the NaN value to the Neighbourhood "j" in order to drop that row
#Finally the index is reordered
for i in range(0,df['Postcode'].count()):
    for j in range(i+1, df['Postcode'].count()):
        if (df['Postcode'][i]==df['Postcode'][j]):
            df['Neighbourhood'][i] = df['Neighbourhood'][i] + ',' + df['Neighbourhood'][j]
            df['Neighbourhood'][j] = np.nan
    df.dropna(subset=["Neighbourhood"], axis=0, inplace=True)
    df.reset_index(drop=True, inplace=True)

#### Then I saved the correct table as "Toronto_correct.csv"

In [7]:
df.to_csv('Toronto_correct.csv')

#### You can find the file in the GitHub repository

#### You can verify the correctness:

In [8]:
df['Postcode'].value_counts()

M4G    1
M4M    1
M1L    1
M1W    1
M1K    1
      ..
M2L    1
M6H    1
M6N    1
M3L    1
M9A    1
Name: Postcode, Length: 103, dtype: int64