# Capstone Project: Notebook 2

In [1]:
import pandas as pd
import numpy as np

#### I import the csv file described in the precedent notebook. When I read the file however I have an unespected column that I remove using the drop method.

In [2]:
df = pd.read_csv('Toronto_correct.csv')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [3]:
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

#### None of the method used in the project description are working for me. So I have uploaded the csv file

In [4]:
gs = pd.read_csv('Geospatial_Coordinates.csv')

In [5]:
gs.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Now in the new csv I search the Postal code of the Toronto database ad add the correspondent Latitude and Longitude values

#### First I create the new two columns in the df dataframe

In [6]:
df = df.assign(Latitude = range(0,df['Postcode'].count()) , Longitude = range(0, df['Postcode'].count()) )

In [7]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,0,0
1,M4A,North York,Victoria Village,1,1
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",2,2
3,M6A,North York,"Lawrence Heights,Lawrence Manor",3,3
4,M7A,Queen's Park,Queen's Park,4,4

#### Then I replace the correspondent Latitude and Longitude for the correct postal code in the df dataframe from the gs dataframe

In [8]:
for i in range(0, df['Postcode'].count()-1):
    for j in range(0, gs['Postal Code'].count()-1):
        #The if statement ensures the correct choise of the sostitution
        if (df['Postcode'][i] == gs['Postal Code'][j]):
             df['Latitude'].replace(i , gs['Latitude'][j] , inplace = True )
             df['Longitude'].replace(i , gs['Longitude'][j] , inplace = True )

In [9]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494

#### Then I export the new dataframe

In [10]:
df.to_csv('Toronto_LL.csv')